@font-face {
    font-family:"Inter" ;
    src: url("fonts/Inter-Medium.ttf");
}
.h1{
    color: #000;
    width: 152px;
    height: 22px;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-left:440px;
    font-family: Inter;
    
}
table{
    border: 1px solid #dadada;
    border-collapse: collapse;
    margin:auto;
}
th,td{
    
    height:57px ;
}
.id{
    width: 72px;
    height: 57px;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;

    
}
.title{
    width: 401px;
    height: 57px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 23px;
    text-align: start;
    

    
}
.at{
    width: 276px;
    height: 57px;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
.Action{
    width: 251px;
    height: 57px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    color: #000;
    
    
    
}

.t1{
    width: 72px;
    height: 57px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    color: #000;
    font-family: Inter;
    
}
.t2{
    /* width: 444px;
    height: 57px; */
    text-align: center;
    padding-left:23px ;
    padding-right: 19px;
    font-size: 15px;
    text-align: justify;
    font-weight: bold;
    font-family: Inter;
    
}

.t3{
    /* width: 276px;
    height: 57px; */
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    color: #F00;
    font-family: Inter;
    
}
.t4{
    /* width: 251px;
    height: 57px; */
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-family: Inter;
       
}

button{
    width: 115px;
    height: 36px;
    background-color: #FFD43A;
    margin: auto;
    font-weight: bold;
    border: none;
    font-family: Inter;

}


